<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Note Taking App</title>
</head>
<body>
    <div class="grid-container">
        <header class="grid-item header">
            <a href="#" class="logo"><span>N</span>o<span>T</span>o</a>
    
            <!-- nav bar -->
            <nav class="navbar">
            <a href="" id="add-note">New Note</a>
            <a href="#contact-us">Contact Us</a>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
    
            <div id="menu-bar" class="fas fa-bars"></div>
            </nav>
            <!-- Nav Bar ended -->
        </header>
        <!-- header Section -->

            <!-- side tab -->
        <div class="grid-item side-bar ">
                <div id="note-head">All Notes Here</div>
                <div class="note">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque atque veniam molestiae nulla explicabo sequi. Cumque eum ab facere? Iste ab aperiam, velit nesciunt aspernatur dignissimos beatae harum dolore illum.</div>
                <div class="note">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere totam sapiente officia expedita magni enim reiciendis repellat officiis veritatis suscipit voluptates, repellendus, quae ullam neque dolor! Aliquid voluptatibus illum quaerat.</div>
                <div class="note">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia consectetur quisquam repellendus expedita quam repudiandae eius vel cumque consequuntur accusamus placeat deleniti at sapiente illo ducimus, similique dicta repellat veritatis.</div>
                <div class="note">Lorem*1</div>
                <div class="note">Lorem*1</div>
                <!-- <div id="no-notes">No Notes available</div> -->
        </div>
        <div class="grid-item main">
                    <div class="tabs"><img src="/img/notes.png" alt=""></div>
                    <div class="tabs"><img src="/img/notes.png" alt=""></div>
                    <div class="tabs"><img src="/img/notes.png" alt=""></div>
                    <div class="tabs"><img src="/img/notes.png" alt=""></div>
                    <div class="tabs"><img src="/img/notes.png" alt=""></div>
        </div>
        <img src="/img/add.png" alt="">
    </div>
  
    <!-- <script src="js/index.js"></script> -->
</body>
</html>
